<html>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <title>{{name}}</title>
    <script
      src='https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image.prod.js'
    ></script>
    <script src='https://aframe.io/releases/1.2.0/aframe.min.js'></script>
    <script
      src='https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image-aframe.prod.js'
    ></script>
    <style>
      .ar-container { width:100vw;height: 100vh;display: flex;flex-direction:
      column;margin: 0 auto; }
    </style>
  </head>

  <body>
    <a-scene
      mindar-image='imageTargetSrc: https://sailspad.fra1.digitaloceanspaces.com/targets%20%281%29.mind;'
      vr-mode-ui='enabled: false'
      device-orientation-permission-ui='enabled: false'
    >
      <a-assets>
        <img id='card' src='/images/deep_sea.png' alt='' />
      </a-assets>

      <a-camera position='0 0 0' look-controls='enabled: false'></a-camera>

      <a-entity mindar-image-target='targetIndex: 0'>
        <a-plane
          rotation='0 0 0'
          position='0.0 0.5 0'
          scale='2.0 2.25 2.0'
          src='#card'
          material='opacity: 0.7;'
        ></a-plane>
      </a-entity>
    </a-scene>
  </body>
</html>